@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
   /* Primary */

--Desaturated_Red: hsl(0, 36%, 70%);
--Soft_Red: hsl(0, 93%, 68%);

   /* Neutral */

--Dark_Grayish_Red: hsl(0, 6%, 24%);
--soft-linear: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
--btn-linear: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

--green: hsl(130 52% 46%);
}


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-family: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

main {
    height: 100vh;
    /* background: url("images/bg-pattern-desktop.svg"); */
    /* background-color: black; */
    background: var(--soft-linear);
}

.img-container img {
    min-width: 100%;
    object-fit: cover;
}

.all-container {
    display: grid;
    gap: 1.5rem;
}

.header {
    padding: 3rem 1rem 0;
}

.main-content {
    padding: 0 2.2em;
    text-align: center;
    position: relative;
}

.heading {
    color: var(--Desaturated_Red);
    font-weight: 300;
    font-size: 3em;
    font-size: clamp(3em, 4vw, 4.5em);
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: .9;
    margin: 1rem 0;
}

.dark {
    font-weight: 600;
    color: var(--Dark_Grayish_Red);
}

.paragraph {
    color: var(--Desaturated_Red);
    font-size: .9em;
    font-size: clamp(1em, 2vw, 1.7em);
    line-height: 1.5;
    margin-bottom: 3em;
}

form {
    position: relative;
    width: 95%;
}

.form-group__input{
    position: relative;
}

[type = 'email'] {
    width: 100%;
    color: var(--Desaturated_Red);
    border: 1px solid hsla(0, 36%, 70%, 0.474);
    padding: 1.2em 2em;
    box-sizing: border-box;
    border-radius: 2em;
    background: var(--soft-linear);
    margin: auto;
    font-size: .8em;
    font-size: clamp(.9em, 1vw, 1.1em);
    border-right: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
}

input::placeholder {
    color: var(--Desaturated_Red);
  }

input:focus {
    outline: none;
}

[type = 'submit'] {
    background: url("images/icon-arrow.svg") center no-repeat, var(--btn-linear);
    font-weight: 600;
    width: 5em;
    height: 100%;
    border: none;
    border-radius: 2em;
    position: absolute;
    right: -1em;
    top: 0;
    box-shadow: .2em .6em 1.4em .2em rgba(0, 0, 0, .1);
    font-size: .9em;
    font-size: clamp(.9em, 2vw, 1em);
}

[type = 'submit']:hover {
    cursor: pointer;
}

input:invalid:not(:focus) {
    animation: shake 0.2s;
}

@media screen and (min-width: 700px) {

    .all-container {
        min-height: 100%;
        grid-template-columns: 10% 2fr 10% 2fr;
        grid-template-rows: 1fr 4fr;
    }

    .img-container {
        grid-column: 4;
        grid-row: span 2;
    }

    .header {
        grid-column: 2;
        padding-left: 0;
        margin-top: 2em;
    }

    .heading {
        line-height: 1.1;
    }

    .img-container img {
        min-height: 100%;
    }

    .main-content {
        grid-column: 2;
        text-align: left;
        padding: 0;
        margin-top: 2em;
    }

    [type = 'submit'] {
        width: 6em;
    }
    
}

@keyframes show-error {
    0% {
        transform: translate(-50%, -100%) scale(0);
    }
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    } 
    20%, 40%, 60%, 80% {
      transform: translateX(-3%);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(3%);
    }
  }


